h3 
{color: grey;}
h4 
{text-align: center; background-color: grey; color: white;}
 li 
 {border-color: grey;}
 ul 
 {list-style-type: none;background-color: lightgoldenrodyellow;} 
h1
{background-color: grey; color: white;}
img 
{border-radius: 20%; background-color: silver;}
table
{border-color: grey;background-color: lightgoldenrodyellow;}
 html 
 {background-color: lightgoldenrodyellow;}
 div {
      resize: horizontal;
     overflow: auto;
  }