.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}
.product-title {
    width: 45%;
}
.quantity{
    width:30%;
    border-bottom: 4px solid lightgrey;
    display: flex;
    align-items: center;
}
.price{
    width:15%;
    border-bottom: 4px solid lightgrey;
    display: flex;
    align-items: center;
}
.total{
    width:15%;
    border-bottom: 4px solid lightgrey;
    display: flex;
    align-items: center;
}
.product{
    width:45%;
    border-bottom: 4px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-around;
}